body {
  background-color: #f1f1f1;
  color: #333333;
  margin-top: 5rem;
}

.welcome-text {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.welcome-text span {
  font-size: 30px;
  margin-left: 10px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 40px;
}

.form-label {
  font-size: 1.1rem;
}

.form-control {
  border-color: #ddd;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ffa100;
}

.btn-primary {
  background-color: #ffa100;
  border-color: #ffa100;
  font-weight: bold;
  color: #fff; 
}

.btn-primary:hover {
  background-color: #ff8a00;
  border-color: #ff8a00;
}

.navbar {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1100px;
  margin: 0 auto;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffa100; 
  font-family: "Zapfino", cursive; 
}

.navbar-links {
  list-style: none;
  display: flex;
  margin-left: auto; 
}

.navbar-links li {
  margin-left: 10px;
}

.navbar-links li a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffa100; 
}

.navbar-links li a.home-link {
  background-color: transparent;
  margin-left: 20px; 
}

.navbar-links li a.register-link {
  background-color: transparent;
}

.navbar-links li a:hover {
  background-color: #ffa100;
  color: #fff;
}

h1.text-center.mb-4 {
  position: relative;
}

h1.text-center.mb-4:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #ffa100;
  border-radius: 5px;
}

h2 span {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1100px;
  margin: 0 auto;
  margin-left: 20px;
}

.navbar-links li a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffa100;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin-left: 900px;
}

.navbar-links li {
  margin-left: 10px;
}