body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.navbar {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1100px;
  margin: 0 auto;
  margin-left: 20px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffa100;
  font-family: "Zapfino", cursive;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin-left: 1000px;
}

.navbar-links li {
  margin-left: 10px;
}

.navbar-links li a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffa100;
}

.navbar-links li a:hover {
  background-color: #ffa100;
  color: #333;
}

.navbar-links li a.signup-link {
  background-color: #ffa100;
  border-color: #ffa100;
  color: #fff; 
}

.navbar-links li a.signup-link:hover {
  background-color: #ff8a00;
  border-color: #ff8a00;
}

h1.text-center.mb-4 {
  position: relative;
}

h1.text-center.mb-4:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #ffa100;
  border-radius: 5px;
}

h2 span {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.btn-primary {
  background-color: #ffa100;
  border-color: #ffa100;
  font-weight: bold;
  color: #fff; 
}

.btn-primary:hover {
  background-color: #ff8a00;
  border-color: #ff8a00;
  color: #fff; 
}

.navbar-links li a.signup-link {
  background-color: #ffa100;
  border-color: #ffa100;
  color: #fff;
}

.navbar-links li a.signup-link:hover {
  background-color: #ff8a00;
  border-color: #ff8a00;
  color: #fff; 
}

.welcome-text {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center; 
  margin-bottom: 30px;
}

.welcome-text h2 {
  color: #000000; 
  font-family: "Times new roman"; 
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 40px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffa100; 
  font-family: "Zapfino", cursive; 
}

.navbar-links {
  list-style: none;
  display: flex;
  margin-left: 600px; 
}

.navbar-links li {
  margin-left: 10px;
}

.navbar-links li a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffa100; 
}
