<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/info.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/tickets.css" media="screen">
    
</head>
<body>
    <header>
        <nav class="navbar">
          <div class="navbar-container">
            <a class="navbar-logo" href="/home">Wonderlust World</a>
            <ul class="navbar-links">
              <li><a href="/register">Register</a></li>
              <li><a href="/home">Home</a></li>
            </ul>
          </div>
        </nav>
      </header>
    <h1> {{country}},{{city}} brochure </h1>
    <div class="tabs">
        <div class="tab-header">
            {%if country_info%}
            <div class="active">Country Facts</div>
            {%endif%}
            {%if attractions%}
            <div>Attractions and Beauty</div>
            {%endif%}
            {%if mess and temperature%}
            <div>Weather Report</div>
            {%endif%}
            {%if youtube_videos%}
            <div>Media and Trends</div>
            {%endif%}
            <div>Tickets</div>
        </div>
        <div class="tab-content">
            {% if country_info %}
            <div class="active">
                <div class="grid-container">
                    <div class="grid-item">
                        <img src= {{ony}} alt="https://www.burningcompass.com/world/maps/world-map.jpg">
                    </div>
                    <div class="grid-item">
                        <p>Welcome, dear traveler, to the mesmerizing land of {{country_info[0][1]}}, a truly captivating destination that beckons you to uncover its hidden wonders! Prepare to be enraptured by the sheer beauty and diversity of this remarkable country. As you step foot into its borders, you'll discover that {{country_info[0][1]}} goes by various aliases, including {{country_info[1][1]}}. This charming nation is nestled in the heart of {{country_info[2][1]}}, where it gracefully claims its place as a jewel within the magnificent {{country_info[3][1]}} subregion.</p>
                        <p>Be prepared to embark on a fascinating exploration of the rich tapestry of {{country_info[0][1]}}'s history and culture. Your first stop is the enchanting {{country_info[4][1]}}, a city that proudly serves as the symbolic heartbeat of the nation. Within its vibrant streets, you'll encounter architectural marvels, ancient landmarks, and a myriad of museums, each offering a glimpse into the captivating past that has shaped this extraordinary country.</p>
                        <p></p>
                    </div>
                    <div class="grid-item">
                        <p>Don't forget to adjust your timepiece to the local {{country_info[8][1]}}, as {{country_info[0][1]}} operates on its own rhythm, waiting to unveil its treasures at every turn. So, dear traveler, get ready to immerse yourself in the magic of {{country_info[0][1]}}. Embrace the spirit of wanderlust, as {{country_info[0][1]}} promises to weave an enchanting tapestry of memories that will linger in your heart long after your journey concludes.</p>
                        <p>As you traverse the stunning landscapes and traverse the length and breadth of {{country_info[0][1]}}, you'll encounter an array of picturesque provinces, each with its own unique allure. From the majestic mountains of {{country_info[7][1]}} to the idyllic coastal havens of {{country_info[7][1]}}, nature's bounty unfolds before your eyes, offering a plethora of adventures and unforgettable experiences.</p>
                        <p>While navigating the cultural landscape, immerse yourself in the delightful melodies of the local languages spoken in {{country_info[0][1]}}. From the melodious tones of {{country_info[6][1]}} to the poetic cadence of other languages, each dialect is a testament to the country's diverse tapestry of cultures.</p>
                    </div>
                    <div class="grid-item">
                        <img src= {{ony2}} alt="Image">
                    </div>
                </div>
            </div>
            {% endif %}
            {% if attractions %}
            {% if not country_info %}
        <div class = "active">
        </div>
        {% else %}
        <div>
            <div class="grid-container">
                <div class="grid-item">
                <h1>{{place1}}</h1>
                <img src= {{pic1}} alt="Image">
                </div>
                <div class="grid-item">
                <p>Related labels: {{descrip1}}
                </div>
                <div class="grid-item">
                <p>Related Labels: {{descrip2}}</p>
                <h1>{{place2}}</h1>
                </div>
                <div class="grid-item">
                <img src= {{pic2}} alt="Image">
                </div>
                <div class="grid-item">
                <h1>{{place3}}</h1>
                <img src= {{pic3}} alt="Image">
                </div>
                <div class="grid-item">
                <p>Related labels: {{descrip3}}
                </div>
        </div>
    </div>
        {% endif %}
        {% endif %}
            {% if mess and temperature %}
            <div class="weather-section">
                <h2>What's the Weather Like in {{city}}?</h2>
                <p>The current temperature in {{city}} is {{temperature}}°F!</p>
                <div class="grid-container">
                  <div class="grid-item">
                    <img src="static/weather-template.png" alt="Weather Icon">
                  </div>
                  <div class="grid-item large-text-box">
                    <p>{{ mess }}</p>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if youtube_videos %}
            <div>
                <h1>Media and Trends</h1>
                <ul class="media-list">
                    {% for video in youtube_videos %}
                        <li>
                            <h2 class="media-title">{{ video['title'] }}</h2>
                            <p>Views: {{ video['viewCount'] }}</p>
                            <p>Channel: {{video['channel']}}</p>
                            <div class="media-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video['link'] }}" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <p class="media-description">{{ video['description'] }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="ticket-container">
            <div id="flight-booking">
                <h2>Flight Booking</h2>

                <form id="flight-form">
                  <label for="departure">Departure (Aiport Name):</label>
                  <input type="text" id="departure" name="departure" required>
      
                  <label for="arrival">Arrival (Airport Name):</label>
                  <input type="text" id="arrival" name="arrival" required>
      
                  <label for="travel-date">Travel Date:</label>
                  <input type="date" id="travel-date" name="travel-date" required>
      
                  <label for="passengers">Passengers:</label>
                  <input type="number" id="passengers" name="passengers" min="1" required>
      
                  <button type="submit">Search Flights</button>
                </form>
                </div>
                <div id="flight-results">
                </div>
              </div>
            </div>
        </div>
    </div>
    <script src="../static/info.js"></script>
</body>
</html>
